// Fonts
$main-font: 'Roboto Slab';
$second-font: 'Kaushan Script';
$third-font: 'Montserrat';
$fourth-font: 'Droid Serif';

// Colors
$cyanopacity2: rgba(26,186,201,0.65);
$grisoscuro2: #666666;
$fondoplanes:#f2f2f2;

$red: #05A65B;
$cyan: #05A65B;
$cyanopacity:rgba(93,164,96,0.7);
$grisclaro: #72777c;
$grisclaro2:rgba(255,255,255,0.7);
$grisoscuro:#3c3c3c;
$fondoplanes:#f2f2f2;
$footer:rgba(229,229,229,1);
$fondocoment:rgba(76,76,76,0.8);
