// Fonts
$main-font: 'Roboto Slab';
$second-font: 'Kaushan Script';
$third-font: 'Montserrat';
$fourth-font: 'Droid Serif';

// Colors

$rojo: red;
$gris1:rgb(76, 76, 76);
$gris2: #666;
$red: rgba(245,221,71,1);
$grisclaro: #72777c;
$grisclaro2:rgba(255,255,255,0.7);
$grisoscuro:#3c3c3c;
$fondoplanes:#ECECEC;
