// Fonts
$main-font: 'Roboto Slab';
$second-font: 'Kaushan Script';
$third-font: 'Montserrat';
$fourth-font: 'Droid Serif';

// Colors
$red: #e02b20;
$cyan: #3DBAC8;
$cyanopacity:rgba(107,185,199,0.8);
$cyanopacity2: rgba(26,186,201,0.65);
$grisclaro: #72777c;
$grisclaro2:rgba(255,255,255,0.7);
$grisoscuro:#4b4e52;
$grisoscuro2: #666666;
$fondoplanes:#f2f2f2;
$footer:#333D42;
$color-fondo:#EBEBEB;
