// Fonts
$main-font: 'Roboto Slab';
$second-font: 'Kaushan Script';
$third-font: 'Montserrat';
$fourth-font: 'Droid Serif';

// Colors
$gris: rgb(237, 237, 237);
$grisoscuro: rgb(153, 153, 153);
$rojo: red;
$gris1:rgb(76, 76, 76);
$gris2: #666;

$red: #e02b20;
$cyan: #3DBAC8;
$cyanopacity:rgba(26,186,201,0.65);
$grisclaro: #72777c;
$grisclaro2:rgba(255,255,255,0.7);
$grisoscuro:#3c3c3c;
$fondoplanes:#ECECEC;
$footer:#333D42;
